################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeamGPTInventory2025/obj
/.vs/TeamGPTInventory2025/CopilotIndices/17.14.1231.31060
/.vs
/TeamGPTInventory2025/bin/Debug/net8.0
/TeamGPTInventory2025/Application.db-shm
/TeamGPTInventory2025/Application.db-wal
