.column-layout {
  display: flex;
  flex-direction: column;
}
.equipment-request-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.request-form-layout {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.form_fields {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  overflow: auto;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.actions {
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
  gap: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.form {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 24px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.user-input {
  height: max-content;
  min-width: min-content;
}
.button {
  --ig-size: var(--ig-size-medium);
  flex-shrink: 0;
}
