.row-layout {
  display: flex;
}
.login-view-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.login-form-container {
  background-color: #1A1A1A;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 32px;
  min-width: min-content;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.form_fields {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  overflow: auto;
  flex-grow: 1;
  flex-basis: 0;
}
.actions {
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
  gap: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.create-account-row {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.form {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 24px;
  height: 401px;
  min-width: 50px;
  min-height: 50px;
  max-height: 401px;
  flex-grow: 1;
  flex-shrink: 0;
}
.button {
  --ig-size: var(--ig-size-medium);
  flex-grow: 1;
  flex-shrink: 0;
}
.add_apiauthlogin {
  text-align: center;
}
.no-account-text {
  height: max-content;
  min-width: min-content;
}
.create-new-account-link {
  color: var(--ig-primary-400);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.login-image {
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0;
}
