.column-layout {
  display: flex;
  flex-direction: column;
}
.admin-equipment-requests-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.admin-requests-layout {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-start;
  gap: 10px;
  position: relative;
}
.content {
  height: max-content;
  min-width: min-content;
}
.admin-requests-grid {
  --ig-size: var(--ig-size-medium);
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.button_1::part(base) {
  background-color: var(--ig-gray-900);
}
.button_2::part(base) {
  background-color: var(--ig-success-500);
}
.button_3::part(base) {
  background-color: var(--ig-error-500);
}
